@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

* {
    font-family: 'montserrat';
}


i {
    font-size: 1.2rem;
}

/* b {
    @apply font-medium;
} */

.text-md {
    font-size: 1.1rem;
}

a {
    @apply text-black dark:text-white;
}

.fh_minus_header {
    height: calc(100vh - 65px);
}